apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.clusterName | default "kibana" }}
  labels:
    app: {{ .Values.clusterName | default "kibana" }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
  {{- if .Values.service.annotations }}
  annotations:
{{ toYaml .Values.service.annotations | indent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ .Values.clusterName | default "kibana" }}
    release: {{ .Release.Name }}
